extends layout

block content
  h1.logo= title

  form(method="post",action= "/generate")
    fieldset
      legend Insira uma url
      p
        label(for="url") URL:
        input(type="text", name="url")

      p.buttons
        input(type="submit", value="Encurtar")

  p
  - if (generated)
    a(href='/'+url_new, title=url_new) http://localhost:3000/#{url_new}
  
  h2 Listas de urls encurtadas
  ul#urls
    each url ,key in map
      li #{url.short} #{url.url}