extends layout

link(rel='icon', href='/images/logo.ico')

block content
  script(src="/javascripts/ZeroClipboard.js");
  script
    $(document).ready(function(){
      $('#form_url').validate({
        rules: {
          url: {
            required: true,
            url: true
          }
        }, //end rules

        messages: {
          url: {
            required: 'Por favor, insira a url a ser encurtada.',
            url: 'Está url é invalida.'
          }
        }, //end messages
        errorPlacement: function(error, element) {
          if (element.is(':radio') || element.is(':checkbox')) {
            error.appendTo(element.parent());
          } else {
            error.insertAfter(element);
          } //end errorPlacement
        }
      }); //end validate

      var clip = new ZeroClipboard( document.getElementById("copy"), {
        moviePath: "/javascripts/ZeroClipboard.swf"
        } );

      clip.on( 'load', function(client) {
       //alert( "movie is loaded" );
      } );
      clip.on( 'complete', function(client, args) {
        //this.style.display = ''; // "this" is the element that was clicked
        //alert("Copied text to clipboard: " + document.getElementById("url_new_copy").text );
      } );

    }); //end ready
    jQuery.validator.addMethod("email_valid", function(val, element) {
      var urlregex = new RegExp("/^(http|https|ftp):\/\/[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/");
      return urlregex.test(val);
    }, "coloca a url");
   
  h1.logo= title
 
  form(id="form_url", method="post",action= "/generate")
    fieldset(class="border")
      legend Insira uma Url
      p
        label(for="url",id="label_url") Url:
        input(type="text", name="url", id="url",value="http://")

      p.buttons
        input(type="submit", value="Encurtar")
  p
  if(generated)
    p.generated 
      a(id="url_new_copy", href='/'+url_new, title=url_new) #{hostname}#{url_new}
      input(id="copy", type="button", data-clipboard-text=hostname+url_new, title="Copiar",value="Copiar")
  if(map.length > 0)
    div.urls
      table(class="border")
        thead
          tr
            th As 10 Ultimas Urls encurtadas
        tbody
          each short in map
            tr
              td(width="25%")
                a.short(href= hostname+short.short, title=hostname+short.short ,target='_blank') #{hostname}#{short.short}
                br
                a.url(href= short.url, title=short.url ,target='_blank') #{short.url}


