extends layout

link(rel='icon', href='/images/logo.ico')

block content
  h1.logo= title
 
  form(method="post",action= "/generate")
    fieldset
      legend Insira uma url
      p
        label(for="url") URL:
        input(type="text", name="url")

      p.buttons
        input(type="submit", value="Encurtar")

  p
  if (generated)
    a(href='/'+url_new, title=url_new) #{hostname}#{url_new}
  div.urls
    table
      thead
        tr
          th As 10 Ultimas Urls encurtadas
      tbody
        each short in map
          tr
            td(width="25%")
              a(href= hostname+short.short, title=hostname+short.short ) #{hostname}#{short.short}
              br
              a(href= short.url, title=short.url ) #{short.url}


