extends layout

link(rel='icon', href='/images/logo.ico')

block content
  h1.logo= title
 
  form(method="post",action= "/generate")
    fieldset
      legend Insira uma url
      p
        label(for="url") URL:
        input(type="text", name="url")

      p.buttons
        input(type="submit", value="Encurtar")

  p
  if (generated)
    a(href='/'+url_new, title=url_new) #{hostname}#{url_new}
  h2 Ultimas urls encurtadas
  ul#urls
    table
     // thead
        tr
          th Encurtada
          th Original
      tbody
        each short in map
          tr
            td
              a(href= hostname+short.short, title=hostname+short.short ) #{hostname}#{short.short}
            td
              span -
            td
              a(href= hostname+short.url, title=hostname+short.url ) #{hostname}#{short.url}


      
