extends layout

link(rel='icon', href='/images/logo.ico')

block content
  h1.logo= title
 
  form(method="post",action= "/generate")
    fieldset(class="border")
      legend Insira uma Url
      p
        label(for="url") Url:
        input(type="text", name="url")

      p.buttons
        input(type="submit", value="Encurtar")
  p
  if (generated)
    p 
      a(href='/'+url_new, title=url_new) #{hostname}#{url_new}

  div.urls
    table(class="border")
      thead
        tr
          th As 10 Ultimas Urls encurtadas
      tbody
        each short in map
          tr
            td(width="25%")
              a.short(href= hostname+short.short, title=hostname+short.short ,target='_blank') #{hostname}#{short.short}
              br
              a.url(href= short.url, title=short.url ,target='_blank') #{short.url}


